@import "./utils/variables";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./utils/visually-hidden";

@import "./base/common.scss";
@import "./base/section";
@import "./base/container";

@import "./components/modal-btn";
@import "./components/logo";
@import "./components/menu";
@import "./components/header-contacts";
@import "./components/backdrop";
@import "./components/modal-window";
@import "./components/modal-form";

@import "./layout/hero";
@import "./layout/advantages";
@import "./layout/about";
@import "./layout/team-section";
@import "./layout/clients-section";
@import "./layout/footer";
@import "./layout/portfolio";
