.hero-section {
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  background-color: var(--secondary-background-color);
}

.hero-overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bcg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroimg.jpg);
  background-size: cover;
  background-position: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
