.logo__first-part,
.logo__second-part {
  font-family: var(--secondary-font);
  @include font($fs: 26px, $fw: 700, $lh: 31px, $ls: 0.03em);
  // font-weight: 700;
  // font-size: 26px;
  // letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__second-part {
  color: var(--logo-color);
}

.logo__second-part_inverse {
  color: var(--main-color);
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
