.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 50px;
}

.menu__link_current {
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.menu__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-dur-and-func);
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
