.modal-open-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--background-active-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
