.modal-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  margin-bottom: 10px;
}

.modal-form__text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  background-color: var(--main-color);
  transition: fill var(--transition-dur-and-func);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__textarea {
  margin-bottom: 20px;
}

.modal-form__check-field {
  @extend %align;
  margin-bottom: 30px;
}

.modal-form__check {
  position: absolute;
  appearance: none;
}

.modal-form__own-checkbox {
  border: 1px solid var(--logo-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;

  .modal-form-check:checked + & {
    background-color: var(--accent-color);
  }

  .modal-form-check:focus + & {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.modal-form__own-checkbox-icon {
  display: none;

  .modal-form-check:checked + .modal-form-own-checkbox & {
    display: block;
  }
}

.modal-form-submit-btn {
  width: 200px;
  height: 50px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  transition: background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--background-active-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.modal-form__policy {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.modal-form__policy-link {
  color: var(--accent-color);
}
